@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',
        sans-serif;
}

.ff-roboto {
    font-family: 'Roboto',
        sans-serif;
}

/*COMMON=============================CLASSES*/

.min_height {
    min-height: 100vh;
}

.display_flex {
    display: flex;
}

.justify_content {
    justify-content: center;
}

.justify_content_between {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.text-align {
    text-align: center;
}

.text-end {
    /* text-align: end; */
    margin: end;
}

.text-align-end {
    text-align: end;
}

.flex-direction {
    flex-direction: column;
}

.d-grid {
    display: grid;
}

.cursor_pointer {
    cursor: pointer;
}

.h-100 {
    min-height: 100vh;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0;
}

/*BACKGROUND===============COLOR===============CLASS*/

.bg_off_white {
    background: #F7F7F7;
}

.bg_white {
    background-color: #ffff;
}

.bg_gradient {
    background: linear-gradient(127.28deg, #EBEBEB 12.53%, #FFFFFF 86.52%);
}

.bg_blue {
    background: linear-gradient(97.42deg, #128DFF -4.95%, #1444EF 109.04%);
}

/*COLORS=========================CLASSES*/

.color_gray {
    color: #808080;
}

.color_black {
    color: black;
}

.white {
    color: white;
}

.color-blue {
    color: #1444EF;
}

/*FONT================SIZES===================CLASSES*/
.fs-1 {
    font-size: 1rem;
}

.fs-2 {
    font-size: 2.25rem;
}

/*FONT====================WEIGHT=============CLASSES*/
.fw-normal {
    font-weight: normal;
}

.fw-semibold {
    font-weight: 600;
}

/*BOX========SHADOW==============CLASSES===============START*/

.shadow_one {
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25) !important;
}

/*BORDER==============RADIUS==================CLASSES====================START*/

.border_radius_20 {
    border-radius: 20px;
}

.border_radius_5 {
    border-radius: 5px;
}

.border_radius_3 {
    border-radius: 3px;
}

.border_none {
    border: none;
}

.border_clr {
    border-color: rgb(61, 61, 232);
}

/*HEIGHT==============WIDTH==================CLASSES=============START*/

.height_304 {
    height: 304px;
}

.w-100 {
    width: 100%;
}

.height_228 {
    height: 228px;
}

.width_460 {
    width: 460px;
}

.width_542 {
    width: 542px;
}

.width_83 {
    width: 83px;
}

.height_77 {
    height: 77px;
}

.height_154 {
    height: 154px;
}

.height_fit_content {
    height: fit-content !important;
}

.height_466 {
    height: 466px;
    overflow: auto;
}

.height_501 {
    height: 501px;
}

.width_350 {
    width: 350px;
}

.height_40 {
    height: 40px;
}

/*MARGIN================CLASSES=============START*/

.mt_57 {
    padding-top: 57px;
}

.mt_36 {
    margin-top: 36px;
}

.mt-14 {
    margin-top: 14px;
}

.mb_43 {
    margin-bottom: 2.7rem;
}

.mt_10 {
    margin-top: 10px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_6 {
    margin-top: 6px !important;
}

.m_auto {
    margin: auto;
}

/* .mt_0 {
    margin: 0 !important;
} */

/*BUTTON==============CLASSES===============START*/
.btn {
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer !important;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    transform: scale(1.05) !important;
}

.btn_counter {
    background: linear-gradient(97.42deg, #128DFF -4.95%, #1444EF 109.04%);
    padding: 13px 40px;
    color: white;
    border: 0 none;
    margin-top: 35px;
}

.btn_one {
    color: #128DFF;
    padding: 13px 40px;
    border: 1px solid #128DFF;
    margin-top: 35px;
}

.btn_two {
    background: linear-gradient(97.42deg, #128DFF -4.95%, #1444EF 109.04%);
    padding: 14px 53px;
    color: white;
    border: 0 none;
    margin-top: 35px;
}

.btn_three {
    background: linear-gradient(97.42deg, #128DFF -4.95%, #1444EF 109.04%);
    border: 0 none;
    padding: 15px 55px;
}

.btn_hover {
    transition: all 0.4s ease-in-out;
}

.btn_hover:hover {
    transform: scale(1.05);
}

.nav_btn:hover {
    background-color: #1444EF;
    color: white;
}

/*OPACITY=======================CLASSES====================START*/

.opacity {
    opacity: 0.5;
}

/*EXTRA======================CLASSES=======================START*/

.box_white {
    padding: 19px 20px;
}

.padding_t_r_l {
    padding: 15px 20px 0px 15px;
}

.padding_t_r {
    padding: 13px 35px;
}

.padding_22_19 {
    padding: 30px 20px;
}

.padding_15_35 {
    padding: 13px 34px;
}

.margin {
    margin: 7px 5px;
}

.padding_13_93 {
    padding: 13px 93px;
}

.total_box {
    padding: 14px 18px;
    height: 190px;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.outline {
    outline: none !important;
}

.btn_border {
    border: 1px solid #128DFF;
    height: 50px;
    width: 82px;
}

.border_none {
    border: 0 none;
}

.focus_visible {
    outline: none !important;
}

.padding_29_31 {
    padding: 29px 31px;
}

.padding_22-19 {
    padding: 22px 19px;
}

.task_shodow {
    transition: all 0.4s ease-in-out;
}

.task_shodow:hover {
    box-shadow: 0px 5px 17px rgba(0, 0, 0, 0.1);
}

.select_border {
    padding-left: 11px;
}

.select_border:hover {
    background-color: #128dff4c;
    color: black;
}

.margin_left {
    margin-right: 10px;
}

.cross_line {
    text-decoration: line-through;
}

.accordion_border {
    border: 1px solid #c5b4b4;
}

.accordion .description {
    max-height: 0;
    overflow: hidden;
}

.accordion.active .description {
    max-height: unset;
    margin-bottom: 20px;
}

.accordion.active .accordion_icon {
    transform: rotate(180deg);
}

.stanza {
    display: none;
}

.nav_radius {
    border-radius: 0px 16px 16px 0px;
}

.left-0 {
    left: 0px !important;
}

#sidebar {
    position: fixed;
    left: -300px;
    transition: all 0.3s ease-in-out;
}

@media (max-width:500px) {
    .width_height {
        width: 300px;
        height: 200px;
    }

    .width_height_media {
        width: 300px;
    }

    .fs-2 {
        font-size: 30px !important;
    }

    .btn_one {
        padding: 13px 20px;
    }

    .btn_two {
        padding: 13px 35px;
    }
}

@media (max-width:550px) {
    .box_margin {
        margin: 0 10px;
    }

    .btn_three {
        margin-top: 10px;
    }

    .width_83 {
        width: 50px;
    }

    .height_77 {
        height: 50px;
    }

    .height_154 {
        height: 100px;
    }

    .width_542 {
        width: 300px;
    }
}

@media (max-width:400px) {
    .width_83 {
        width: 42px;
    }

    .height_154 {
        height: 95px;
    }
}